<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Clonepedia"
            visible="true"
            id="Clonepedia.actionSet">
         <menu
               id="Clonepedia"
               label="Clonepedia">
            <groupMarker
                  name="run">
            </groupMarker>
            <separator
                  name="seperator1">
            </separator>
            <groupMarker
                  name="debug">
            </groupMarker>
            <separator
                  name="separator2">
            </separator>
            <groupMarker
                  name="output">
            </groupMarker>
            <separator
                  name="separator3">
            </separator>
         </menu>
         <action
               class="clonepedia.actions.StartFromIntraSetPatternAction"
               icon="icons/action/step3.gif"
               id="Clonepedia.GenerateFromCloneFileAction"
               label="Generate Results from Intra Clone Set Pattern"
               menubarPath="Clonepedia/run"
               style="push"
               toolbarPath="run"
               tooltip="Generate the final results start from the intra clone set pattern file you configure">
         </action>
         <action
               class="clonepedia.actions.StartFromOntologyAction"
               icon="icons/action/step2.gif"
               id="Clonepedia.GeneratePatternAndTopic"
               label="Generate Results from Ontology"
               menubarPath="Clonepedia/run"
               style="push"
               toolbarPath="run"
               tooltip="Generate the final results start from the ontology file you configure">
         </action>
         <action
               class="clonepedia.actions.StartFromCloneFileAction"
               icon="icons/action/step1.gif"
               id="Clonepedia.DirectGenModel"
               label="Generate Results From Clone File"
               menubarPath="Clonepedia/run"
               style="push"
               toolbarPath="run"
               tooltip="Generate the final results start from the clone file you configure">
         </action>
         <action
               class="clonepedia.actions.CloneDetectionAction"
               icon="icons/action/clone_detection.gif"
               id="Clonepedia.clonedetection"
               label="Clone Detection"
               menubarPath="Clonepedia/run"
               style="push"
               toolbarPath="run">
         </action>
         <action
               class="clonepedia.actions.ProgramStructureExtractionAction"
               icon="icons/action/program_structure.gif"
               id="Clonepedia.ProgramStructureExtractionAction"
               label="&amp;Extract Program Structure"
               menubarPath="Clonepedia/debug"
               tooltip="Extract Program Structure">
         </action>
         <action
               class="clonepedia.actions.CloneInformationExtractionAction"
               icon="icons/action/clone_structure.gif"
               id="Clonepedia.CloneInformationExtractionAction"
               label="Extract Clone Information"
               menubarPath="Clonepedia/debug"
               style="push">
         </action>
         <action
               class="clonepedia.actions.OntologyModelGeneration"
               icon="icons/action/build_model.gif"
               id="Clonepedia.OntologicalModelBuilding"
               label="Build Ontological Model"
               menubarPath="Clonepedia/debug"
               style="push">
         </action>
         <action
               class="clonepedia.actions.ExportOverallDetailAction"
               icon="icons/action/overview.gif"
               id="Clonepedia.ExportOverallDetailAction"
               label="Export Overall Detail"
               menubarPath="Clonepedia/output"
               style="push"
               toolbarPath="output">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="clonepedia.views.hierarchicalsemantic.HierarchicalSemanticView"
            icon="icons/view/hirarchical_semantic.gif"
            id="Clonepedia.HirarchicalSemanticView"
            name="Hirarchical Semantic"
            restorable="true">
      </view>
      <view
            class="clonepedia.views.ClonePropertiesView"
            icon="icons/view/properties.gif"
            id="Clonepedia.ClonePropertiesView"
            name="CloneProperties"
            restorable="true">
      </view>
      <view
            category="Clonepedia.view_category"
            class="clonepedia.views.multiorient.PlainCloneSetView"
            icon="icons/view/plain.gif"
            id="Clonepedia.PlainCloneSetView"
            name="Clone Set"
            restorable="true">
      </view>
      <view
            category="Clonepedia.view_category"
            class="clonepedia.views.multiorient.TopicOrientedView"
            icon="icons/view/topic.gif"
            id="Clonepedia.TopicOrientedView"
            name="Clone Topic"
            restorable="true">
      </view>
      <view
            category="Clonepedia.view_category"
            class="clonepedia.views.multiorient.PatternOrientedView"
            icon="icons/view/structure.gif"
            id="Clonepedia.PatternOrientedView"
            name="Syntactic Pattern"
            restorable="true">
      </view>
      <view
            category="Clonepedia.view_category"
            class="clonepedia.views.codesnippet.CloneCodeSnippetView"
            icon="icons/view/code_snippet.gif"
            id="Clonepedia.CloneCodeSnippetView"
            name="Code Snippet"
            restorable="true">
      </view>
      <view
            category="Clonepedia.view_category"
            class="clonepedia.views.codesnippet.CloneDiffView"
            icon="icons/view/clone_diff.gif"
            id="Clonepedia.CloneDiffView"
            name="MCIDiff"
            restorable="true">
      </view>
      <view
            category="Clonepedia.view_category"
            class="clonepedia.views.DiffPropertyView"
            icon="icons/view/properties.gif"
            id="Clonepedia.DiffPropertyView"
            name="Diff Property View"
            restorable="true">
      </view>
      <category
            id="Clonepedia.view_category"
            name="Clonepedia">
      </category>
      <view
            category="Clonepedia.view_category"
            class="clonepedia.views.CloneReportView"
            icon="icons/view/clone_report.gif"
            id="Clonepedia.cloneReportView"
            name="Clone Report View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="clonepedia.perspective.CloneSummaryPerspective"
            icon="icons/perspective/summary_perspective.gif"
            id="Clonepedia.CloneSummaryPerspective"
            name="Clone Summary">
      </perspective>
      <perspective
            class="clonepedia.perspective.CloneDiffPerspective"
            icon="icons/perspective/diff_perspective.gif"
            id="Clonepedia.CloneDiffPerspective"
            name="Clone Diff">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="clonepedia.preference.ClonepediaPreferencePage"
            id="Clonepedia.preferencePage"
            name="Clonepedia">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="Clonepedia.skeletonGenerationCommand"
            name="Skeleton Generation">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="clonepedia.handler.SkeletonGenerationHandler"
            commandId="Clonepedia.skeletonGenerationCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:Clonepedia.PatternOrientedView">
         <command
               commandId="Clonepedia.skeletonGenerationCommand"
               icon="icons/action/skeleton_generation.gif"
               id="generate_skeleton"
               label="Generate Skeleton"
               style="push"
               tooltip="Generate skeleton based on inter clone set pattern">
         </command>
      </menuContribution>
   </extension>

</plugin>
